body {
  box-sizing: border-box;
  background: #ebfcfc;
}

.night {
  background: #164747;
}

.App {
  text-align: center;
    padding-top: 40px;
}

.Sun-img {
  animation: Sun-img-spin infinite 30s linear;
  height: 120px;
}

.Moon-img {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Ground {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  min-height: 120px;
  background: #064e23;
}

@keyframes Sun-img-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
