body {
  box-sizing: border-box;
  background: #ebfcfc;
  background-image: url('./day.png');
  background-size: cover;
}

.night {
  background: #164747;
}

.App {
  position: absolute;
  text-align: center;
  padding-top: 40px;
  width: 100%;
}

.Day {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  text-align: left;
}

.Sun-img {
  position: relative;
  top: 0;
  left: 0;
  animation: Sun-img-spin infinite 30s linear;
  height: 120px;
}

.Moon-img {
  position: relative;
  top: 0;
  left: 0;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Ground {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  min-height: 120px;
  background: #bcd63d;
  border-top: 12px solid #f2f3b1;
}

@keyframes Sun-img-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
